h1{color: #0000ff;}
span{color:#ff0000;}
marquee{background-image:url("its_something.png");}
#rebelde{color:pink; text-decoration: line-through;}
.unicorn {background-image:url("its_something.png"); height: 500px; width:500px;}
#red{background-color: red;}